<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

  <% x = 0 %>
  <% y = 0 %>
  <% z = 0 %>

  <% @deck.cards.each_with_index do |card, index| %>
  <div data="<%= card.id %>" class="step slide" data-x="<%= x %>" data-y="<%= y %>" data-z="<%= z%>">
    <q><%= card.question %></q><br><br>
    <form class='get_answer' method="post" action="/check_answer">
      <input class="user_answer" type='text'required name="user_answer">
      <input type='submit' value='Final Answer'>
      <input class="db_answer" type='hidden' name="card_answer" value='<%= card.answer %>'>
      <input class="db_cardid" type='hidden' name="card_id" value='<%= card.id %>'>
    </form>
  </div>
  <% z -= 3000 %>
  <div  class="step" data-x="<%= x %>" data-y="<%= y %>" data-z="<%= z %>">
    <p id="<%= card.id %>" class="answer"><%= card.answer %></p>
  </div>
  <% z -= 3000 %>
  <% end %>


</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>

<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<script src="/js/impress.js"></script>
<script>impress().init();</script>